<div>
  <div class="my-pic">
    <img src="https://raw.githubusercontent.com/bytheway875/bytheway875.github.io/master/img/shannon.jpeg">
  </div>
  <h3> about me </h3>

  <p>
    Hi, I'm Shannon.
  </p>
  <p>  I'm a full stack product developer.
    I like to create software I care about, and do it with and for people I care about.
  </p>

  <p>
    I'm most dangerous
    when working in a Rails/Ember stack (convention over configuration FTW).
    I also dabble in other languages and stacks (vanilla JS, Node/Express, Elixir)
    as projects require or my curiosities allow.
  </p>

  <p>
    I believe that good software comes at the intersection of quality code,
    user-focused design, intuitive usability, and strong product management,
    and I'm searching for a company with a great balance of all four.
  </p>

  <p>
    I believe that software developers are professional learners, and I spend a lot of time learning from others and teaching others. I create and maintain web development curriculum for my organization, <a href="http://www.emberitas.com">Emberitas</a>, mentor junior developers, and currently teach at a development bootcamp.
  </p>

</div>


<div {{action 'toPrevious'}} class="nav-chev left">
  {{inline-svg 'cheveron-outline-left'}}
</div>
<div {{action 'toNext'}} class="nav-chev right">
  {{inline-svg 'cheveron-outline-right'}}
</div>
