<div>
  <h3> about me </h3>
  <p>
    I'm a full stack product developer.
    I like to create software I care about, and do it with and for people I care about.
  </p>

  <p>
    I'm most dangerous
    when working in a Rails/Ember stack (convention over configuration FTW).
    I also dabble in Node, Django/Python, Elixir, Wordpress, and more - whatever
    get's the job done.
  </p>

  <p>
    I believe that good software comes at the intersection of quality code,
    user-focused design, intuitive usability, and strong product management,
    and I'm searching for a company with a great balance of all four.
  </p>

</div>


<div {{action 'toPrevious'}} class="nav-chev left">
  {{inline-svg 'cheveron-outline-left'}}
</div>
<div {{action 'toNext'}} class="nav-chev right">
  {{inline-svg 'cheveron-outline-right'}}
</div>
