<div>
  <h3>emberitas</h3>

  <p> Emberitas is a one-day, two-track Ember.js workshop for women, designed to teach those new to
    development the principles of design and development through the lens of Ember.js,
    or teach existing developers about the basics of Ember.js.
  </p>

  <p>
    Attendees are also encouraged to make open-source contributions to the
    the curriculum documentation and sample apps as a way of "dipping their toes"
    into open-source in a supportive, low-stakes environment.
  </p>
</div>
<div {{action 'toPrevious'}} class="nav-chev left">
  {{inline-svg 'cheveron-outline-left'}}
</div>
<div {{action 'toNext'}} class="nav-chev right">
  {{inline-svg 'cheveron-outline-right'}}
</div>
