<div class="hello">
  <h1> Hello! </h1>
  <p> I'm Shannon.</p>
  <p> I like to <span>build</span> things, <span>learn</span> things, and <span>teach</span> things. </p>
</div>

<div {{action 'toNext'}} class="nav-chev right">
  {{inline-svg 'cheveron-outline-right'}}
</div>
