<div>
  <h3> talks & more </h3>

  <div class="talk-box"><iframe src="//slides.com/bytheway875/deck-6/embed?style=light" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

  <div class="talk-box"><iframe src="//slides.com/bytheway875/on-rails-with-ember/embed?style=light" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="talk-box">
    <iframe src="//slides.com/bytheway875/multi-tenancy-with-apartment/embed?style=light" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="talk-box">
    <iframe src="//slides.com/bytheway875/fun-with-refactoring/embed?style=light" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="talk-box"><a href="https://frontsidethepodcast.simplecast.fm/52">
    <img src="https://raw.githubusercontent.com/bytheway875/portfolio-images/master/frontside-podcast.png" width=576>
  </a>
  </div>
</div>


<div {{action 'toPrevious'}} class="nav-chev left">
  {{inline-svg 'cheveron-outline-left'}}
</div>
<div {{action 'toNext'}} class="nav-chev right">
  {{inline-svg 'cheveron-outline-right'}}
</div>
